@charset "UTF-8";

html {
    font-size: 100%;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    height: 60px;
    padding: 10px 0;
}

h1 {
    line-height: 0;
}

h1 img {
    width: 120px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;

}

.nav li {
    list-style: none;
    font-size: 14px;
}

.nav li a {
    color: #000;
    text-decoration: none;
}

.nav li:hover {
    opacity: 0.7;
    cursor: pointer;
}

.kv {
    margin-bottom: 100px;
}

.kv img {
    width: 100%;
    height: calc(100vh - 60px);
    object-fit: cover;
}

section {
    margin-bottom: 100px;
}

.title {
    text-align: center;
}

h2 {
    display: inline-block;
    font-size: 32px;
    margin-bottom: 60px;
    border-bottom: 1px solid #000;
}

.about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about_img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.about_txt {
    max-width: 400px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text {
    font-size:16px;
}

.bicycle_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
    text-align: center;
}

.bicycle_container img {
    width: 100%;
}

footer {
    text-align: center;
    font-size: 8px;
}

@media (max-width:600px) {

    .kv img {
        width: 100%;
        height: auto;
    }

    .about_container {
        flex-direction: column;
        padding: 10px;
    }

    .bicycle_container {
        flex-direction: column;
        padding: 10px;
    }

}